LDD_CPU_THRESHOLD=85
LDD_MEMORY_THRESHOLD=85
LDD_DISK_THRESHOLD=90
LDD_INTERVAL_SECONDS=5
LDD_METRICS_MAX_MB=20
LDD_INCIDENTS_MAX_MB=10
LDD_FORENSIC_COOLDOWN_SECONDS=20
LDD_MONITORED_SERVICE=nginx
LDD_MONITORED_PORT=80
